<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/OWNER/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="almarag" />
            <add key="ClearTextPassword" value="f70ca9d6e5afaa90d2f3acd8b4206ad62efb756a" />
        </github>
    </packageSourceCredentials>
</configuration>