<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/almarag/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="almarag@gmail.com" />
            <add key="ClearTextPassword" value="75725ad10897fa4b7bdd479016c9e80d3ea732cd" />
        </github>
    </packageSourceCredentials>
</configuration>